.gradle
.studio
*.ipr
*.iml
*.iws
build/*
deploy/*
modules/*/build/*
out
test-run
/studio-settings.xml
.ideaDataSources/*
.shelf/
.idea/*
modules/core/build/
modules/global/build/
modules/web/build/
.ideaDataSources/
deploy/
modules/core/test-home/
test-home/